<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Cifrico</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/assets/img/logo/1718293984897.png" rel="icon">
  <link href="/assets/img/logo/1718293984897.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Cifrico</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>



    </div>
  </header>

  <main class="main">


    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <img style="width: 20%; height: 20%;" src="/assets/img/logo/1718293984897.png" alt="">
        <h2>Cifrico</h2>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <h2>Buscar cifra</h2>
            <h6>Busca por tom e índice</h6>
            <div style="display: flex; align-items: center; justify-content: center;">
              <form action="/Buscar" method="post" style="display: flex; width: 100%;">
                <select class="form-select flex-grow-1" name="tom" style="margin: 0 5px;">
                  <option value="C">C e C#</option>
                  <option value="D">D e D#</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                  <option value="G">G e G#</option>
                  <option value="A">A e A#</option>
                  <option value="B">B e Bb</option>
                  <option value="H">Harpa</option>
                  <option value="M">Toms menores</option>
                </select>
                <input name="indice" class="form-control flex-grow-1" type="number" name="cifra" placeholder="Índice"
                  style="margin: 0 5px;" required>
                <button type="submit" class="btn btn-outline-primary rounded-circle"
                  style="background-color: #3d4d6a; border-color: #3d4d6a;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-zoom-in"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    <path d="M10.7 14.3a1 1 0 1 1 1.4 0l3 3a1 1 0 1 1-1.4 1.4L10 15.6a1 1 0 1 1-1.4-1.4l2.3-2.3z" />
                  </svg>
                </button>
              </form>
            </div><br>
            <h6>Busca por nome</h6>
            <div class="form-group d-flex align-items-center">

              <form action="/findbyname" method="post" style="display: flex; flex-grow: 1;">
                <input type="text" class="form-control me-2" id="cifra" name="nome" placeholder="Digite a cifra"
                  list="cifraslist" required>
                <datalist id="cifraslist">
                  <% for (let i=0; i < todascifras.length; i++) { %>
                    <option value="<%= todascifras[i].nome %>">
                      <%= todascifras[i].nome %> - <%= todascifras[i].tom %> - <%= todascifras[i].indice %>
                    </option>
                    <% } %>
                </datalist>
                <!-- From Uiverse.io by gharsh11032000 -->
                <button type="submit" class="btn btn-outline-primary rounded-circle"
                  style="background-color: #3d4d6a; border-color: #3d4d6a;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-zoom-in"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    <path d="M10.7 14.3a1 1 0 1 1 1.4 0l3 3a1 1 0 1 1-1.4 1.4L10 15.6a1 1 0 1 1-1.4-1.4l2.3-2.3z" />
                  </svg>
                </button>
              </form>
            </div>
            <br>
            <h3>Cifras Favoritas</h3>
            <div style="display: flex; justify-content: center;">
              <a href="/limpar">
                <!-- From Uiverse.io by vinodjangid07 -->
                <button class="button">
                  <svg viewBox="0 0 448 512" class="svgIcon">
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                    </path>
                  </svg>
                </button>
              </a>
            </div>
            <br>

          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">



            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

              <% for (let i=0; i < cifrasfavoritas.length; i++) { %>

                <% if (i> 0 && cifrasfavoritas[i].indice == cifrasfavoritas[i-1].indice && cifrasfavoritas[i].tom ==
                  cifrasfavoritas[i-1].tom) { %>

                  <% }else{ %>
                    <a href="/cancao/<%= cifrasfavoritas[i].tom %>/<%= cifrasfavoritas[i].indice %>">
                      <div class="col-lg-3 col-md-6 portfolio-item isotope-item rounded mb-5 mx-auto"
                        style="border: #3d4d6a 1px solid;">
                        <!-- Imagem principal -->
                        <% const imagemBase64=cifrasfavoritas[i].arquivo.toString('base64'); %>
                          <div class="shadow p-3 mb-9 bg-white rounded position-relative">
                            <img class="img-fluid" src="data:image/png;base64,<%= imagemBase64 %>"
                              alt="<%= cifrasfavoritas[i].nome %>" style="max-width: 100%; height: auto;">
                            <div class="portfolio-info rounded">
                              <p>ORDEM: <%= i + 1 %>
                              </p>
                              <h5 style="color: white;">
                                <%= cifrasfavoritas[i].nome %> 1
                              </h5>
                              <p>TOM: <%= cifrasfavoritas[i].tom %>
                              </p>
                              <!-- Link para a mesma imagem -->
                            </div>
                          </div>
                      </div> <!-- End Portfolio Item -->

                    </a>
                    <% } %>
                      <% } %>




            </div>



          </div><!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

      </div>

    </section><!-- /Portfolio Section -->


    </div>

    </div>

    </section><!-- /Contact Section -->

  </main>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>